body {
    background-color: rgb(27, 27, 29);
    font-family: 'Montserrat', sans-serif;

}

#my_camera{
    width: 320px;
    height: 240px;
    border: 1px solid black;
   }

.row {
    background-color: rgb(27, 27, 29);
}

.callout {
    color: rgb(27, 27, 29);
}

#title {
    margin: 20px;
}
#title-insta {
    background-color: rgb(44, 44, 48);;
}

/* Center container */
.off-canvas-content {
    float: right;
    border: none;
    
    
}

.text-display {
    color: rgb(209, 207, 207);
    font-family: 'Montserrat', sans-serif;
}

/* Controls the left side bar */
.table-scroll {
    opacity: 80%;
    width: 40%;
}

/* Mood selector */
#moodDropdown {
    border-radius: 7px;
    background-color: rgb(44, 44, 48);
    border: none;
}

.callout-primary{
    border: none;
}
.thumbnail {
    border:none;
}
.micBtn {
    background-color: white;
    color: white;
    border-color: white;
}

.selectedText {
    color: ivory;
}

#medium-6-columns {
    opacity: 40%;
}

h5{
    color: rgb(209, 207, 207);
    font-family: 'Montserrat', sans-serif;
}

/* Affects every other color of the table */
#songList {
   background-color: lightslategray;
}

/* Element that says listen now on Spotify */
#spotLink {
    margin: auto;
}

.thead{
    width: 410px;
}
