body {
    background-color: rgb(27, 27, 29);
    font-family: 'Montserrat', sans-serif;

}

.row {
    background-color: rgb(27, 27, 29);
}

.callout {
    color: rgb(27, 27, 29);
}

#title {
    margin: 20px;
}
#title-insta {
    background-color: rgb(44, 44, 48);;
}

/* Center container */
.off-canvas-content {
    float: right;
    border: none;
    
    
}

.text-display {
    color: rgb(209, 207, 207);
    font-family: 'Montserrat', sans-serif;
}

/* Controls the left side bar */
.stack {
    opacity: 80%;
    width: 40%;
}

/* Mood selector */
#moodDropdown {
    border-radius: 7px;
    background-color: rgb(44, 44, 48);
    border: none;
}

.callout-primary{
    border: none;
}
.thumbnail {
    border:none;
}
.micBtn {
    background-color: white;
    color: white;
    border-color: white;
}

.selectedText {
    color: ivory;
}

#medium-6-columns {
    opacity: 40%;
}