body {
    background-color: rgb(27, 27, 29); 
    font-family: 'Montserrat', sans-serif;
}

/* Navigation bar */
*.top-bar, .top-bar-left {
  background-color: rgb(19, 19, 19) !important; 
  color: lightslategrey;
}
#top-nav {
    background-color: rgb(19, 19, 19) !important; 
    font-family: 'Montserrat', sans-serif;
}

/* Apply styling to all text on html */
.text-display {
    color: rgb(209, 207, 207);
    font-family: 'Montserrat', sans-serif;
}
/* Title for each page */
.callout-primary{
    border: none;
}
.callout {
    color: rgb(27, 27, 29);
}
.row {
    background-color: rgb(27, 27, 29);
}
#title-insta {
    background-color: rgb(44, 44, 48);;
}
#title {
    text-align: center; /* Title Page Header */
    margin-top: 20px;
    margin-bottom: 20px;
}
.reveal {
    text-align: center;
    background-color: rgb(48, 52, 54);
}


/* Get Started Page Style */
.hero-image { /*Baby Image */
    background-image: url("../images/coolbaby.jpg");
    background-color: #cccccc; 
    margin-top: 50px;
    height: 400px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#getStarted { /* Get Started Button */
    text-align: center; 
    border-radius: 14px;
    padding: 20px;
    margin: 40px;
    font-size: 40px;
    background-color: rgb(56, 56, 56);
    color: rgb(209, 207, 207);
}

/* Home Page Style */

/*Linked Sites*/
#links {
    padding-top: 20px;
}

/* Mood selector */
#dropdownLabel {
    font-size: 24px;
}
#moodDropdown {
    border-radius: 7px;
    background-color: rgb(44, 44, 48);
    border: none;
}
.selectedText {
    color: ivory;
}

/*Mic and face API Buttons*/
.micBtn { 
    margin-top: 20px;
    margin-left: 260px;
    background-color: rgb(24, 26, 27);
    color: rgb(232, 230, 227);
    border-top-color: rgb(48, 52, 54);
    border-right-color: rgb(48, 52, 54);
    border-bottom-color: rgb(48, 52, 54);
    border-left-color: rgb(48, 52, 54); 
}
/*Modal Button*/
.button { 
    margin-top: 20px;
    margin-left: 245px;
    background-color: rgb(24, 26, 27);
    color: rgb(232, 230, 227);   
}
.faceButton {
    background-color: rgb(209, 207, 207);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
}

/*Two Coloumns*/
#medium-6-columns {
    opacity: 100%;
}
.thumbnail {
    border: none;
}
#speak {
    text-align: center;
    padding-top: 10px;
}

/*Spotify API Playlist*/
h5{ 
    color: rgb(209, 207, 207);
    font-family: 'Montserrat', sans-serif;
}
#playlistName {
    font-size: 24px;
    font-weight: bold;
}

/* Element that says listen now on Spotify */
#spotLink {
    margin: auto;
}

/* Affects only the song, artist, and album on top */
thead {
    color: rgb(232, 230, 227);
    background-color: rgb(24, 26, 27);
    border-top-color: rgb(48, 52, 54);
    border-right-color: rgb(48, 52, 54);
    border-bottom-color: rgb(48, 52, 54);
    border-left-color: rgb(48, 52, 54);
}

/* How can we get this to affect the placement of the table head items?!? */
th {
    opacity: 80%;
    font-weight: bold;
    font-size: 20px;
}
 
/* Affects every other color of the table */
#songList {
    color: rgb(232, 230, 227);
    background-color: rgb(24, 26, 27);
}
tbody {
    background-color: rgb(24, 26, 27);
    border-top-color: rgb(48, 52, 54);
    border-right-color: rgb(48, 52, 54);
    border-bottom-color: rgb(48, 52, 54);
    border-left-color: rgb(48, 52, 54);
}
tbody tr:nth-child(even) {
    background-color: rgb(19, 19, 19);
}
caption, tbody td, tbody, th {
    font-weight: 900;
    color: rgb(232, 230, 227);
    border-top-color: rgb(48, 52, 54);
    border-right-color: rgb(48, 52, 54);
    border-bottom-color: rgb(48, 52, 54);
    border-left-color: rgb(48, 52, 54);
    padding: 3rem 6rem 3rem;
    text-align: center !important;
}

/* About Us Page */
h3 { /* Name */
    text-align: center;
    color: rgb(209, 207, 207);
    font-family: 'Montserrat', sans-serif;
}
.aboutBio { /* Bio */
    text-align: center;
    color: rgb(170, 170, 170);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.profile { /* profile pictures */
    text-align: center;
    margin-left: 50px;
}
.aboutMe { /* about us paragraphs */
    margin: 15px;
    text-align: center;
    color: rgb(170, 170, 170);
    font-family: 'Montserrat', sans-serif;
}

